@import "styles.css";

/*
body{
    background-color: var(--uranian-blue); 
}
.sidenav {
    background-color: #c9c7c7;
    border: 1px solid #686868;
    text-align: center;
    right: 80px;
    height: 220px;
    width: 200px;
    margin-left: 50px;
    margin-top: 50px;
}

.sidenav {
    width: 180px;
    z-index: 1;
    top: 20px;
    left: 10px;
    background: #eee;
    overflow-x: hidden;
    padding: 8px 0;
  }
  
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #2196F3;
    display: block;
  }

.sidenav a:hover {
    color: #064579;
  }
*/

  .main {
  /*
    margin-left: 140px; /* Same width as the sidebar + left position in px 
    font-size: 28px; /* Increased text to enable scrolling 
    padding: 0px 10px;
    background-color: #ffffff;
    border: 1px solid #686868;
  */
    width: 100%;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box_container, .box_container_row{
    width: 100%;
    text-wrap: wrap;  
    margin: 0   ;
    font-size: 1.05em;
    padding: 50px 150px;
  }
  .box_container_row h2, .box_container h2{
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border: 1px solid var(--indigo-dye);
    border-width: 0 0 1px 0;
  }
  .box_container:nth-of-type(even) {
    background-color: var(--teal);
    color: var(--light-gray);
  }
  
  .box_container:first-of-type, .box_container_row:last-of-type{
    padding: 0;
  }
  .box_container_row:first-of-type img{
    width: fit-content;
    max-height: 180px;
    margin: 0;
  }

  .founder{
    margin: 0 10px;
    text-align: center;
  }
  .founder img{
    min-height: 160px;
  }

  .follow_us{
    background-color: var(--teal);
    color: var(--light-gray); 
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 30px;
    gap: 10px;
  }
  .button{
    background-color: var(--light-gray);
    color: var(--teal);
    padding: 10px 40px;
  }
  .button:hover{
    background-color: var(--indigo-dye);
    color: var(--light-gray);
    transition: all 0.3s ease-in-out;
  }
  