*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
  }

  :root {
    --light-gray: #f3f3f3;
    --gray: #D9D9D9;
    --blue-gray: #74acbf;
    --blue: #24B5E5;
    --cyan: #1795bf;
    --light-blue: #5eb0cc;
    --mix: #339dc0;
    --dark-blue: #00477e;
    --navy: #154859;
  }

 body {
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
 body {
    background-color: var(--light-gray); /* Light gray */
  }

/*
img {
    display: block;
    max-width: 100%;
}
*/

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
  }

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

label,
button,
select,
summary,
[type=radio],
[type=submit],
[type=checkbox] {
    cursor: pointer;
}

:focus:not(:focus-visible) {
    outline: none;
}

@media (prefers-reduced-motion: no-preference) {
    html {
          scroll-behavior: smooth;
    }
  }