@import "styles.css";

.contact-form {
    width: 60%;
    margin: 50px auto 50px;
    padding: 3% 2% 4%;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: var(--steel-blue);
    min-width: 400px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
    border-radius: 50px;
}

.contact-form h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.75rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--light-gray);
    max-width: 1000px;
}

.contact-form form {
    max-width: 1000px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
}

.contact-form label {
    font-size: 1.2rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    color: var(--light-gray);
}

.contact-form input,
.contact-form textarea {
    padding: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    border: 1px solid var(--sky-blue); /* Use any color you like */
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.contact-form button {
    padding: 10px 0px;
    font-size: 18px;
    color: white;
    background-color: var(--indigo-dye); /* Use any color you like */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0px 0px;
}

.contact-form button:hover {
    background-color: var(--dark-blue); /* Use any color you like */
}